.form-wrapper
  .form
    margin: 0 auto
    width: 295px
    text-align: center
    padding: 15px
  .sign-up
    padding: 20px
    font-size: 30px
    border: double
    border-width: 10px
  .field
    padding: 10px
    &-box
      border-radius: 4px
  .actions
    padding: 10px
    .button
      border-radius: 4px
    .button:hover
     color: blue
     background-color: gray

