.form-wrapper
  background-color: lightsteelblue
  .form-main
    margin: 0 auto
    width: 500px
    background-color: #EEEEEE
    padding-bottom: 50px
    .post-title
      font-size: 40px
      display: flex
      justify-content: center
      .l-video-icon, .l-human-icon
        color: black
        line-height: 114px
      &__text
        padding: 35px
    .field 
      font-family: Arial, Helvetica, sans-serif
      text-align: center
      padding: 15px
  .field-box 
    width: 260px
    height: 25px
    background-color: #FFFFFF
    border-radius: 5px
    margin: 0 auto
  input::placeholder
    padding: 6px
  .actions
    text-align: center
  .notice 
    text-align: center
    font-weight: bolder
