*
  box-sizing: border-box
.main-slider
  margin: 0px auto
  width: 80%
  position: relative

  .prev-arrow, .next-arrow
    position: absolute
    top: 50%
    margin: 0
    padding: 0
    line-height: 1
    transform: translateY(-50%)
    cursor: pointer
    font-weight: bold
  .prev-arrow 
    left: -20px
  .next-arrow 
    right: -20px
  