.p-mypageContainer
  text-align: center
  margin-top: 20px
  .p-mypage-name
  .p-mypage-box
    margin: 0 auto
    border-collapse: collapse
    border-spacing: 0
    width: 355px
    overflow-wrap: break-word
    &__title
      border-bottom: solid 1px #eee
    &__data
      width: 355px
      .p-mypage-date
        padding: 10px
      .p-mypage-title
        padding: 10px
        a
          text-decoration: none
          @include font-black
          font-size: 15px
        a:hover
          color: $color-gray
      .p-mypage-body
        padding: 10px

    
