= render './shared/header'
.mypageContainer
  %h2.mypage-title
    = current_user.name
    さんのアウトプット一覧
  .mypageContent
    - @out_put.zip(@post) do |out_put, post|
      - if out_put.nil?
        = out_put.body
      - else
        %p
          現在アウトプットはありません
= render './shared/footer'
