= render './shared/header'
.mypageContainer
  %h2.mypage-title
    = current_user.name
    さんのアウトプット一覧
  .mypageContent
    - if @out_puts
      - @out_puts.each do |out_put|
        = out_put.body
    - else
      %p
        現在アウトプットはありません
= render './shared/footer'
