.l-header
  background-color: white
  position: relative
  height: 70px
  @media (min-width: 0px) and (max-width: 710px) 
    height: 100px

  .l-header-inner
    display: flex
    list-style: none
    height: 80px
    padding: 10px
    .l-nav-left
      line-height: 20px
      &__log
        height: 60px
        width: 190px
        font-family: 'Anton', sans-serif
        font-size: 25px
        margin-left: 20px
        @media (min-width: 0px) and (max-width: 710px)
          font-size: 20px
          width: 50px
        a
          text-decoration: none
          color: $color-black
    .l-nav-right
      display: flex
      list-style: none
      line-height: 60px
      margin: 0
      width: 1680px
      @media screen and (min-width: 579px) and (max-width: 709px)
        margin-top: 28px
      @media (min-width: 0px) and (max-width: 710px) 
        display: flex
        flex-wrap: wrap
        font-size: 5px
        padding: 0px
        justify-content: space-evenly
        margin-top: 25px

      &__list
        @media (min-width: 0px) and (max-width: 710px) 
          margin-top: -25px
          margin-left: 7px
        a
          @include font-black
          text-decoration: none
          padding: 10px
          @media (min-width: 0px) and (max-width: 710px)
            padding: 0px
        a:hover
          color: gray
      .l-nav-right__noleft
        margin-left: 0
        @media (min-width: 0px) and (max-width: 710px)
          line-height: 9px

        a
          @include font-black
          text-decoration: none
          padding: 10px
        a:hover
          color: gray
      &__list:last-child
        margin-left: auto
        margin-right: 20px
        position: relative
        @media (min-width: 0px) and (max-width: 710px)
          margin-left: 15px
      .search-label
        @include font-black
        
      .search-field
        border-radius: 5px
        @media (min-width: 0px) and (max-width: 710px)
          width: 138px
      .search-field::-webkit-search-cancel-button
        -webkit-appearance: none
      .search-field::placeholder
        font-size: 10px
        padding-left: 5px
      .search-btn
        background: none
        border: none
        cursor: pointer
        position: absolute
        right: 0
        top: 20px
        font-size: 15px
        @media (min-width: 0px) and (max-width: 710px)
          margin: -25px
          margin-top: 1px

