.header-wrapper
  background-color: #2699FB
  position: relative
  height: 60px
  padding: 5px
  .header-inner
    display: flex
    list-style: none
    height: 60px
    .nav-left
      &__log
        line-height: 5
    .nav-right
      display: flex
      line-height: 60px
      .header-list
        @include font
        text-decoration: none
        padding: 10px
      .header-list:hover
        color: gray

