.header{
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 55px;
}

.header h1 {
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 10px;
}


.company-name {
  color: #FFFFFF;
  text-decoration: none;
}

.header-nav {
  display: flex;
  background-color: #2699FB;
  height: 55px;

}

.header nav ul {
  display: flex;
  font-size: 10px;
}
.header nav  ul li {
  list-style: none;
}
.header-list {
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 30px;
}

.new-movie h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: 130px;
  background-color: #FFFFFF;
  color: #5A5A5A;
}

.new-movie ul {
  display: flex;
  list-style: none;
  margin-top: 50px;
  justify-content: space-around;
}

.new-movie li {
  height: 300px;
  width: 300px;
  background-color: #FFFFFF;
  
}