%section.new-movie
.main-slider
  = image_tag"toppageimage.png", size:"100%", class:""
  = image_tag"toppageimage.png", size:"100%", class:""
 

%h2.new-content-title 新着動画
- @post.each do |post|
  %iframe.main-slider--movie{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen:  "", frameborder: "0", src: "https://www.youtube.com/embed/#{post.youtube_url}", size:"100x100"}


