.hero
  .hero__infomation
    .hero__infomation__box
      .hero__infomation__title
        %p 〜新着情報〜
      .hero__infomation__text
      - @post.each do |post|
        = post.created_at.strftime('%Y/%m/%d')
        =link_to post.title, post
        %span の動画が更新されました！
        %br
        %br
  .hero__slider
    = image_tag"toppageimage.png", size:"100%", class:""
    = image_tag"toppageimage.png", size:"100%", class:""
  .hero__content 新着動画
  - @post.each do |post|
    %iframe.hero__content__movie{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen:  "", frameborder: "0", src: "https://www.youtube.com/embed/#{post.youtube_url}", size:"100x100"}


