= render 'shared/header'
%section.new-movie
  %h2.new-content-title 新着動画
  -# - @posts.each do |post|
  -#   %tr
  -#     %td= post.body
  -#     %iframe.feature-item{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "100", :src => "https://www.youtube.com/embed/#{post.youtube_url}", :width => "100"}
  -#     %td= link_to 'Show', post
  -#     %td= link_to 'Edit', edit_post_path(post)
  -#     %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
