
<%= render 'layouts/nav' %>
<h1>メーカー一覧</h1>
<% @manufacturers.each do |manufacturer| %>
  <section class="manufacturer-wrapper">
    <ul>
      <li>
        <%= link_to manufacturer do%>
        <img src="<%= manufacturer.image %>" width="100">
        <% end%>
      </li>
      <li>
        <%= manufacturer.name %>
      </li>
    </ul>
  </section>
<% end %>