!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LEDEALSTUDYPLUS
    = csrf_meta_tags
    = csp_meta_tag
    :css
      body {
        background-color: #BCE0FD;
      }
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    = yield
